
#leaves {
    position: absolute;
  }
  
  .leaf1 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    animation: fall 12s linear infinite;
  }
  
  .leaf2 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    animation: fall2 12s linear infinite 0.3;
  }
  
  .leaf3 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left:200px;
    animation: fall 12s linear infinite 1s;
  }
  
  .leaf4 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left:300px;
    animation: fall2 12s linear infinite 1.5s;;
  }
  
  .leaf5 {
    position: absolute;
    font-size: 55px;
    top:-30px;
    left:250px;
    animation: fall3 12s linear infinite 1.3s;
  }
  
  @keyframes fall {
    0% {top:-410px; transform: translateX(10vw) rotateX(180deg);}
    100% {top:2385px; transform: translateX(0px) rotateX(-180deg);}
  }
  
  @keyframes fall2 {
    0% {top:-410px; transform: translateX(20vw) rotateX(-90deg);}
    100% {top:2385px; transform: translateX(-350px) rotateX(180deg);}
  }
  
  @keyframes fall3 {
    0% {top:-410px; transform: translateX(30vw) rotateX(-180deg);}
    100% {top:2385px; transform: translateX(-400px) rotateX(180deg);}
  }
  
  @keyframes fall4 {
    0% {top:-410px; transform: translateX(40vw) rotateY(-180deg);}
    100% {top:2385px; transform: translateX(-400px) rotateY(180deg);}
  }
  
  @keyframes fall5 {
    0% {top:-410px; transform: translateX(50vw) rotateY(180deg);}
    100% {top:2385px; transform: translateX(250px) rotateY(-180deg);}
  }
  
  .leaf6 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left:-250px;
    animation: fall3 12s linear infinite 1.8s;
  }
  
  .leaf7 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left:-350px;
    animation: fall2 12s linear infinite 3.2s;
  }
  
  .leaf8 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left:550px;
    animation: fall3 12s linear infinite 1.5s;
  }
  
  .leaf9 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left:150px;
    animation: fall4 12s linear infinite 2.3s;
  }
  
  .leaf10 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left:450px;
    animation: fall5 12s linear infinite 1.3s;
  }
  
  .leaf11 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left:650px;
    animation: fall5 12s linear infinite 1.7s;
  }

  .leaf12 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 90wv;
    animation: fall 12s linear infinite 5s;
  }

  .leaf13 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 80wv;
    animation: fall2 12s linear infinite 5.5s;
  }

  .leaf14 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 60vw;
    animation: fall4 12s linear infinite 3.8s;
  }

  .leaf15 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 30vw;
    animation: fall 12s linear infinite 4.7s;
  }

  .leaf16 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 89vw;
    animation: fall5 12s linear infinite 5.2s;
  }

  .leaf17 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 69vw;
    animation: fall 12s linear infinite 3.7s;
  }

  .leaf18 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 73vw;
    animation: fall3 12s linear infinite 4.1s;
  }

  .leaf19 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 10vw;
    animation: fall2 12s linear infinite 2.4s;
  }

  .leaf20 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 45vw;
    animation: fall5 12s linear infinite 3.1s;
  }

.leaf21 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    animation: fall 12s linear infinite 4s;
  }
  
  .leaf22 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    animation: fall2 12s linear infinite 4s;
  }
  
  .leaf23 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left:200px;
    animation: fall 12s linear infinite 5s;
  }
  
  .leaf24 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left:300px;
    animation: fall2 12s linear infinite 5.5s;;
  }
  
  .leaf25 {
    position: absolute;
    font-size: 55px;
    top:-30px;
    left:250px;
    animation: fall3 4s linear infinite 7s;
  }
  
  .leaf26 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left:-250px;
    animation: fall3 12s linear infinite 6.5s;
  }
  
  .leaf27 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left:-350px;
    animation: fall2 12s linear infinite 5.5s;
  }
  
  .leaf28 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left:550px;
    animation: fall3 12s linear infinite 5.5s;
  }
  
  .leaf29 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left:150px;
    animation: fall4 12s linear infinite 5.3s;
  }
  
  .leaf30 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left:450px;
    animation: fall5 12s linear infinite 6.3s;
  }
  
  .leaf31 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left:650px;
    animation: fall5 12s linear infinite 6.7s;
  }

  .leaf32 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 90wv;
    animation: fall 12s linear infinite 9s;
  }

  .leaf33 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 80wv;
    animation: fall2 12s linear infinite 9.5s;
  }

  .leaf34 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 60vw;
    animation: fall4 12s linear infinite 8.8s;
  }

  .leaf35 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 30vw;
    animation: fall 12s linear infinite 9.7s;
  }

  .leaf36 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 89vw;
    animation: fall5 12s linear infinite 9.2s;
  }

  .leaf37 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 69vw;
    animation: fall 12s linear infinite 8.7s;
  }

  .leaf38 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 73vw;
    animation: fall3 12s linear infinite 9.1s;
  }

  .leaf39 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 10vw;
    animation: fall2 12s linear infinite 6.4s;
  }

  .leaf40 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 45vw;
    animation: fall5 12s linear infinite 8.1s;
  }

  .leaf41 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 80vw;
    animation: fall 12s linear infinite 9s;
  }
  .leaf42 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 91vw;
    animation: fall2 12s linear infinite 8.5s;
  }
  .leaf43 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 78vw;
    animation: fall3 12s linear infinite 8.1s;
  }
  .leaf44 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 69vw;
    animation: fall4 12s linear infinite 7.3s;
  }
  .leaf45 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 60vw;
    animation: fall5 12s linear infinite 9.3s;
  }
  .leaf46 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 53vw;
    animation: fall1 12s linear infinite 9.6s;
  }
  .leaf47 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 58vw;
    animation: fall2 12s linear infinite 9.2s;
  }
  .leaf48 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 90vw;
    animation: fall3 12s linear infinite 9.8s;
  }
  .leaf49 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 87vw;
    animation: fall4 12s linear infinite 10s;
  }
  .leaf50 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 50vw;
    animation: fall5 12s linear infinite 7.6s;
  }

