.winter {
    --color-primary: #57838D;
    --color-secondary: #738a88;
    --color-accent: #445A67;
    --font-color: #000000;
}
.summer {
    --color-primary: #FDF6C3;
    --color-secondary: #9cd4aa;
    --color-accent: #ddd5a5;
    --font-color: #ffffff;
}
.autumn {
    --color-primary: #D49A6A;
    --color-secondary: #e4c199;
    --color-accent: #ab6e2e;
    --font-color: #ffffff;
}
.spring {
    --color-primary: #5e8d5a;
    --color-secondary: #c6d7b9;
    --color-accent: #b8cd9e;
    --font-color: #ffffff;
}