* {
    margin: 0;
}

.all {
    background: var(--color-secondary);
}

html {
    scroll-behavior: smooth;
}

.titlei {
    padding: 30px;
    color: white;
}

.profile {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    color: black;
    text-align: center;
    font-size: 50px;
    background: var(--color-secondary);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#facts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#facts > p {
    width: 400px;
    padding: 15px;
}

.sidebar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(55, 55, 170);
    color: white;
    flex-direction: column;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items:first baseline
}  

.info > p {
    padding-left: 80px;
}

.buttons {
    display: flex;
    flex-direction: column;
}

#buttons {
    margin: 16px;
    padding: 8px;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
}

.content > .section {
    margin: 16px;
    text-align: center;
    height: 500px;
    border-radius: 30px;
    background: var(--color-primary);
    font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
}

.banner {
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    margin-top: 140px;
    padding: 20px 0;
    background-color: white;
}

.title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
    font-family: 'Courier New', Courier, monospace;
    background: var(--color-primary);
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#content {
    transition: margin-left .5s;
    padding: 16px;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar button {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar button:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

.openbtn {
    position: fixed;
    border-radius: 30px;
    margin: 10px;
}

#socials, #about, #facts {
    height: fit-content;
    padding-bottom: 30px;
}

.winter {
    --color-primary: #0060df;
    --color-secondary: #b7b7f3;
    --color-accent: #fd6f53;
    --font-color: #000000;
}
.summer {
    --color-primary: #17ed90;
    --color-secondary: #cdd532;
    --color-accent: #12cdea;
    --font-color: #ffffff;
}
.autumn {
    --color-primary: #D49A6A;
    --color-secondary: #e4c199;
    --color-accent: #12cdea;
    --font-color: #ffffff;
}
.spring {
    --color-primary: #17ed90;
    --color-secondary: #67e77a;
    --color-accent: #12cdea;
    --font-color: #ffffff;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    background: var(--color-secondary);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h1 {
    color: var(--font-color);
}
.container button {
    color: var(--font-color);
    background: var(--color-primary);
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
}

.popup {
    background-color: #faeacb;
    width: 100%;
    height: 100vh;
    /* display: flex !important; */
    flex-direction: column;
    align-items: center;
}

.selections {
    display: flex;
    flex-direction: column;
}

.selections > div {
    font-size: 50px;
    /* padding: 80px 180px; */
    border: black 2px solid;
    border-radius: 50px;
}

.close-popup {
    font-size: 40px;
    width: 500px;
}

.pop-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pop-info h1 {
    padding: 40px 0px;
    margin-top: 50px;
}

.space {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

body {
    opacity: 1;
    transition-duration: 4s;
    transition-property: opacity;
  }

  body.fade {
    opacity: 0;
  }

.summerselection {
    background-image: url(/media/gifs/summer.gif);
}

.winterselection {
    background-image: url(/media/gifs/winter.gif);
}

.autumnselection {
    background-image: url(/media/gifs/autumn.gif);
}

.springselection {
    background-image: url(/media/gifs/spring.gif);
}

.seasonselection {
    background-size: cover;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin: 30px;
    width: 700px;
}

#switch {
    width: 700px;
    height: 200px;
    opacity: 0;
}

@keyframes fadeIn {
    0% {opacity: 0; }
    100% {opacity: 1;}
}

#switch:hover {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

.content {
    position: relative;
  }
  
  .leaves {
    position: absolute;
  }
  
  .leaf1 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    animation: fall 12s linear infinite;
  }
  
  .leaf2 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    animation: fall2 12s linear infinite;
  }
  
  .leaf3 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left:200px;
    animation: fall 12s linear infinite 1s;
  }
  
  .leaf4 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left:300px;
    animation: fall2 12s linear infinite 1.5s;;
  }
  
  .leaf5 {
    position: absolute;
    font-size: 55px;
    top:-30px;
    left:250px;
    animation: fall3 4s linear infinite 2s;
  }
  
  @keyframes fall {
    0% {top:-410px; transform: translateX(10vw) rotateX(180deg);}
    100% {top:2385px; transform: translateX(0px) rotateX(-180deg);}
  }
  
  @keyframes fall2 {
    0% {top:-410px; transform: translateX(20vw) rotateX(-90deg);}
    100% {top:2385px; transform: translateX(-350px) rotateX(180deg);}
  }
  
  @keyframes fall3 {
    0% {top:-410px; transform: translateX(30vw) rotateX(-180deg);}
    100% {top:2385px; transform: translateX(-400px) rotateX(180deg);}
  }
  
  @keyframes fall4 {
    0% {top:-410px; transform: translateX(40vw) rotateY(-180deg);}
    100% {top:2385px; transform: translateX(-400px) rotateY(180deg);}
  }
  
  @keyframes fall5 {
    0% {top:-410px; transform: translateX(50vw) rotateY(180deg);}
    100% {top:2385px; transform: translateX(250px) rotateY(-180deg);}
  }
  
  .leaf6 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left:-250px;
    animation: fall3 12s linear infinite 1.5s;
  }
  
  .leaf7 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left:-350px;
    animation: fall2 12s linear infinite .5s;
  }
  
  .leaf8 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left:550px;
    animation: fall3 12s linear infinite .5s;
  }
  
  .leaf9 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left:150px;
    animation: fall4 12s linear infinite .3s;
  }
  
  .leaf10 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left:450px;
    animation: fall5 12s linear infinite 1.3s;
  }
  
  .leaf11 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left:650px;
    animation: fall5 12s linear infinite 1.7s;
  }

  .leaf12 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 90wv;
    animation: fall 12s linear infinite 5s;
  }

  .leaf13 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 80wv;
    animation: fall2 12s linear infinite 5.5s;
  }

  .leaf14 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 60vw;
    animation: fall4 12s linear infinite 3.8s;
  }

  .leaf15 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 30vw;
    animation: fall 12s linear infinite 4.7s;
  }

  .leaf16 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 89vw;
    animation: fall5 12s linear infinite 5.2s;
  }

  .leaf17 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 69vw;
    animation: fall 12s linear infinite 3.7s;
  }

  .leaf18 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 73vw;
    animation: fall3 12s linear infinite 4.1s;
  }

  .leaf19 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 10vw;
    animation: fall2 12s linear infinite 2.4s;
  }

  .leaf20 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 45vw;
    animation: fall5 12s linear infinite 3.1s;
  }

.leaf21 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    animation: fall 12s linear infinite 4s;
  }
  
  .leaf22 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    animation: fall2 12s linear infinite 4s;
  }
  
  .leaf23 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left:200px;
    animation: fall 12s linear infinite 5s;
  }
  
  .leaf24 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left:300px;
    animation: fall2 12s linear infinite 5.5s;;
  }
  
  .leaf25 {
    position: absolute;
    font-size: 55px;
    top:-30px;
    left:250px;
    animation: fall3 4s linear infinite 7s;
  }
  
  .leaf26 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left:-250px;
    animation: fall3 12s linear infinite 6.5s;
  }
  
  .leaf27 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left:-350px;
    animation: fall2 12s linear infinite 5.5s;
  }
  
  .leaf28 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left:550px;
    animation: fall3 12s linear infinite 5.5s;
  }
  
  .leaf29 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left:150px;
    animation: fall4 12s linear infinite 5.3s;
  }
  
  .leaf30 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left:450px;
    animation: fall5 12s linear infinite 6.3s;
  }
  
  .leaf31 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left:650px;
    animation: fall5 12s linear infinite 6.7s;
  }

  .leaf32 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 90wv;
    animation: fall 12s linear infinite 9s;
  }

  .leaf33 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 80wv;
    animation: fall2 12s linear infinite 9.5s;
  }

  .leaf34 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 60vw;
    animation: fall4 12s linear infinite 8.8s;
  }

  .leaf35 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 30vw;
    animation: fall 12s linear infinite 9.7s;
  }

  .leaf36 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 89vw;
    animation: fall5 12s linear infinite 9.2s;
  }

  .leaf37 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 69vw;
    animation: fall 12s linear infinite 8.7s;
  }

  .leaf38 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 73vw;
    animation: fall3 12s linear infinite 9.1s;
  }

  .leaf39 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 10vw;
    animation: fall2 12s linear infinite 6.4s;
  }

  .leaf40 {
    position: absolute;
    font-size: 30px;
    top:-30px;
    left: 45vw;
    animation: fall5 12s linear infinite 8.1s;
  }

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

